//---------------------------


//Colors
$color-Alert:  rgb(31, 94, 136);
$color-Header: #26628a;
$lime-color:  lightgreen;
$borderline-color: #2b2458;
$color-NavSearch: #173950;
$social-color: #1f5e88;
$color-background-secondary: whitesmoke;
$color-text: #ffff;
$color-main-content: grey;

//Buttons
$color-default: #1f5e88 ;


// // Font Stack
$font-stack:  sans-serif;

//Breakpoints
$break-med: 768px;
$break-large: 1024;