//==============================
//              Alert
//==============================



 .alert {
    width: 77%;
    margin-left: 1%;
    border-radius: 5px;
    @media (min-width: 768px) {
      grid-column: 1 / span 2;
      width: 98%;
      border-radius: 5px;
    }
    @media (min-width: 1024px) {
      width: 97%;
      margin-left: 1%;
      border-radius: 5px;
      }
  }
  
  .alert-banner {
    display: flex;
    margin-left: 5%;
  }
  
  .alert-banner-close {
    margin-left: auto;
    margin-right: 3%;
    cursor: pointer;
  }
  